# Binarios compilados
master/master
worker/worker
client/client
*.exe

# Directorios de datos temporales
app/data/*
app/results/*
app/storage/*
app/temp/
app/tmp/

# Mantener estructura de directorios
!app/data/.gitkeep
!app/results/.gitkeep
!app/storage/.gitkeep
!app/temp/.gitkeep
!app/scripts/

# Logs
*.log

# Go
*.test
*.out
vendor/
go.sum

# IDEs
.vscode/
.idea/
*.swp
.DS_Store
